{% extends "base.html" %}
{% load static %}
{% block page_content %}
<section class="container-fluid">
  <h1>Clients</h1>
  <div>
    {% for client in clients %}
    <div class="pb-3"></div>
    <h3>{{ client.last_name }}, {{ client.first_name }}</h3>
    <div>{{ client.phone }}</div>
    <div>{{ client.created_at }}</div>
    <button>Edit</button>
    <form action="{% url 'client_delete' pk=client.pk %}" method="POST">
      {% csrf_token %}
      <input class="btn btn-default btn-danger" type="submit" value="Delete" />
    </form>
    {% endfor %}
  </div>
</section>

<section class=" d-flex justify-content-center flex-column align-items-center p-5">
  <h3 class="mb-4">Register New Client</h3>
  <form action="/" method="post" class="mb-5 d-flex flex-column">
    {% csrf_token %}
    <div class="form-group">
      {{ form.last_name }}
    </div>
    <div class="form-group position-relative">
      {{ form.first_name }}
    </div>
    <div class="form-group">
      {{ form.phone }}
    </div>
    <button type="submit" class="btn btn-light">Submit</button>
  </form>
</section>
{% endblock %}